{% extends 'base.html' %}
{% block content %}

<h2>Rooms</h2>
 {%for room in rooms%}
    <a href="{{url_for('reserve', room_name=room.name)}}">{{room.name}}</a><br/>
 {%endfor%}

<h3>Create room</h3>
<form action="/rooms" method="POST">
  <input type="text" name="name" placeholder="name" />
  <input type="submit" value="Create" />
</form>

<h3>Clear all reservations</h3>
<form action="/rooms/clear" method="POST">
  <input type="submit" value="Clear" />
</form>

<!-- TODO: oszlopdiagram -->

{% endblock %}